@import "../../index.scss";

.container {
  // Header
  header {
    @include container;
    @include page-header;
  }

  // Intro text
  section {
    @include child-container;
    margin-bottom: 50px;
    p {
      @include text;

      a {
        @include link;
      }
    }
  }
}

.item {
  // Контакты
  a {
    text-decoration: none;
    width: 200px;
    @include text;
    text-align: center;

    @include desktop {
      min-width: 200px;
      width: 10vw;
    }

    border-radius: 2px;
    padding: 8px 0;
    background-color: $black;

    transition: all 0.25s ease;
    cursor: pointer;
    outline: none;

    background-color: none;
    border: 1px solid $black;
    color: white;

    &:hover {
      background-color: transparent;
      border: 1px solid $black;
      color: $black;
    }
  }
}

.list {
  background-color: $linen;
  padding: 50px 0 0;

  // Inner flex container
  > div {
    @include child-container;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    // Flex item
    > div,
    i {
      width: 22%;

      @include phone {
        width: 45%;
      }
      @include tablet {
        width: 30%;
      }
      margin-bottom: 25px;

      img {
        cursor: pointer;
      }

      > div {
        //border: 1px solid red;

        p {
          padding: 0;
          margin: 5px 0;
          // @include text;
          // A bit smaller font-size
          font-size: 1rem;
          line-height: 1.5;

          @include tablet {
            font-size: 1rem;
          }

          @include desktop {
            font-size: 1.25vw;
          }
        }

        // Заказать
        a {
          text-decoration: none;
          display: block;
          width: 100%;
          @include text;
          text-align: center;
          color: $black;
          padding: 8px 0;
          background-color: none;
          border: 1px solid $black;
          border-radius: 2px;
          transition: all 0.25s ease;
          cursor: pointer;
          outline: none;

          &:hover {
            background-color: $black;
            border: 1px solid $black;
            color: white;
          }
          margin: 10px 0;
        }
      }
    }
  }
}
