@import "../../index.scss";

.container {
  margin-bottom: 100px;
  @include phone {
    margin-bottom: 50px;
  }

  // Hero image
  > div:first-of-type {
    background-color: $linen;
    width: 100%;
    height: 50vh;
    position: relative;
    z-index: -1;

    img {
      height: 50vh;
      width: 100%;
      object-fit: cover;
    }

    h2 {
      //border: 1px solid;
      display: block;
      text-align: center;
      font-size: 3rem;
      color: white;
      height: 100px;
      width: 300px;
      position: absolute;
      left: 50%;
      margin-left: -150px;
      top: 50%;
      margin-top: -50px;
    }

    @include phone {
      height: 40vh;
      img {
        height: 40vh;
      }

      h2 {
        font-size: 2rem;
        height: 50px;
        width: 200px;
        position: absolute;
        left: 50%;
        margin-left: -100px;
        top: 50%;
        margin-top: 0px;
      }
    }
  }

  section {
    @include child-container;

    &:first-of-type {
      padding: 50px 0 25px;
    }

    padding: 25px 0;

    h3 {
      @include heading;
    }

    p {
      @include text;

      a {
        @include link;
      }
    }
  }
}
