@import "../../index.scss";

.container {
  @include container;
  margin-bottom: 100px;
  @include phone {
    margin-bottom: 50px;
  }

  // Header
  header {
    @include page-header;
  }

  // Articles container
  > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .article,
    i {
      //border: 1px solid red;
      @include phone {
        width: 100%;
        padding: 0;
        margin-bottom: 50px;
      }

      @include tablet {
        width: 45%;
        padding: 0;
        margin-bottom: 25px;
      }

      @include desktop {
        width: 30%;
        margin-bottom: 50px;
      }

      // Title
      h3 {
        @include text;
        span {
          display: block;
          color: gray;
          font-weight: 300;
          margin-bottom: 10px;
        }
      }

      // Description
      > p {
        @include text;
      }

      // Link
      a {
        @include text;
        @include link;
        color: $black;
      }
    }
  }
}
