// Fonts
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Mono:wght@200;300;400;500;600&display=swap");

body {
  font-family: "Roboto Mono", monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 300;
  color: #323232;
}

// Colors
$black: #323232;
$gray: #f3f3f3;
$linen: #e7d8c9;
$danger: #d62828;
$blue: #266f90;
$dark-blue: #223a46;

// Media queries
@mixin phone {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: 769px) and (max-width: 1199px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: 1200px) {
    @content;
  }
}

// Mixins
@mixin child-container {
  //border: 1px solid red;
  margin: 0 auto;
  width: 90vw;

  @include desktop {
    width: 80vw;
  }
}

@mixin page-header {
  @include phone {
    padding: 150px 0 0;
    h1 {
      font-size: 2rem;
    }
  }

  @include tablet {
    padding: 100px 0 0;
    h1 {
      font-size: 2.5rem;
    }
  }

  @include desktop {
    padding: 100px 0 0;
    h1 {
      font-size: 3vw;
    }
  }
}

@mixin heading {
  font-size: 1.5rem;
  line-height: 1.5;

  @include tablet {
    font-size: 1.75rem;
  }

  @include desktop {
    font-size: 1.75vw;
  }
}

@mixin text {
  font-size: 1rem;
  line-height: 1.5;

  @include tablet {
    font-size: 1.25rem;
  }

  @include desktop {
    font-size: 1.25vw;
  }
}

@mixin link {
  color: $black;

  &:hover {
    text-decoration: none;
    color: $danger;
  }
}

img {
  width: 100%;
}

ul {
  padding: 0;
  list-style-type: none;
}
